<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<style>
    #right {
        float: right;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>home page</title>
</head>

<section class="mb-4">
    <br><br><br><br>
    <h2 class="h1-responsive font-weight-bold text-center my-4">About us</h2>
    <p class="text-center w-responsive mx-auto mb-5">
        <!--                <img src="https://bigger-picture-live.imgix.net/storage/uploads/blog/perfect-about-us/about-us.jpg?w=1220&fit=crop&crop=faces,edges&q=75&auto=format&fm=png" width="20%" height="20%" align="right">-->
        DSNL Hospital Management System helps deliver superior healthcare for doctors, patients and hospitals.
        Handling patient bills and appointments was a chaotic scene in hospitals and clinics. Not anymore!
        The best part of this project is that it has reduced the use of paper, keeping all vital information in one place to access.
        Doctors could coordinate with other departments with great ease regarding medical health records.
        The software has helped save time as prescriptions, bills, and other calculations are maintained digitally.
        This allows Doctors to concentrate on their core activities.
        We believe quality is a journey, and we are constantly striving to provide the features that work for our customers.
        We have worked tirelessly to create a realistic and user-friendly project.
        We hope that you will appreciate our work and like our web app as a part of the CS F212
        DataBase Management Course <br>
        <img  src="https://i.pinimg.com/originals/50/78/a0/5078a05eb1b6847d93383eaa4c0ed500.gif" alt="HTML5 Icon" width="350" height="300" th:align="center">
        <br>Contributors:
    <table style="margin-left: auto;margin-right: auto">
        <tr>
            <td>DIVYAN GOYAL</td>
            <td> 2020A7PS0042H </td>

        </tr>
        <tr>
            <td>GAVHANE NIKHIL EKNATH</td>
            <td> 2020A7PS1724H</td>
        </tr>
        <tr>
            <td>LUV GHILOTHIA</td>
            <td> 2020A7PS1700H</td>

        </tr>
        <tr>
            <td>SANCHIT GUPTA</td>
            <td> 2020A7PS2069H</td>
        </tr>

    </table>
</section>

</body>
</html>